<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ergo.mapper.ArticleMapper">

    <select id="getArticle" resultType="com.example.ergo.vo.articleVO">
        <if test="pageSize >0 and pageNum >0">
            <bind name="offset" value="(pageNum-1)*pageSize"/>
        </if>
        SELECT  article.id,title,topping_stat,cream_stat,article.status,category_name,user_info.user_name,article.create_time,article.update_time
        from article,user_info,category
        where article.user_id=user_info.user_id and category_id = category.id and article.deleted =0
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="getTotal" resultType="int">
        select count(*) from article where deleted = 0
    </select>
    <update id="deleteArticleById" parameterType="int">
        update article set deleted = 1 where id =#{id}
    </update>
</mapper>