server:
  port: 8080

database:
  name: learncoding

#es:
#  port: 9200
#  hostname: localhost
spring:
#  data:
#    elasticsearch:
#      cluster-nodes: localhost:9300
#      cluster-name: es-wyf
#      repositories:
#        enabled: true
  redis:
    host: localhost
    port: 6379
    password:
  thymeleaf:
    mode: HTML
    encoding: UTF-8
    servlet:
      content-type: text/html
    cache: false #关闭 Thymeleaf 的缓存
  datasource:
    url: jdbc:mysql://localhost:3306/${database.name}?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root #Root_123
    hikari:
      pool-name: HighConcurrencyHikariCP
      minimum-idle: 20
      maximum-pool-size: 50
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true
      leak-detection-threshold: 60000
  mail:
    #smtp服务主机  qq邮箱则为smtp.qq.com
    host: smtp.163.com
    #服务协议
    protocol: smtp
    # 编码集
    default-encoding: UTF-8
    #发送邮件的账户
    username: dongguannan212@163.com
    #授权码
    password: UVFWWVOHLMSLBTLK
#    test-connection: true
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  freemarker:
    check-template-location: false
    profiles:
      active: dev
    jackson:
      time-zone: GMT+8
    data:
      redis:
        repositories:
          enabled: false

#邮箱验证码有效时间/秒
code:
  expiration: 300

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.example.ergo
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn
# Logger Config
#logging:
#  level:
#    com.hexadecimal: debug
logging:
#  config: classpath:log4j2.xml
  level:
    #这个指定你的dao层，也就是mapper文件的所在包
    com.example.ergo.mapper: DEBUG
mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
      id-type: auto



# elasticsearch配置
elasticsearch:
  # 是否开启ES？本地启动如果没有安装ES，可以设置为false关闭ES
  open: false #true
  # es集群名称
  clusterName: elasticsearch
  hosts: 62.234.58.158:9200 #62.234.58.158
  userName: elastic
  password: elastic
  # es 请求方式
  scheme: http
  # es 连接超时时间
  connectTimeOut: 1000
  # es socket 连接超时时间
  socketTimeOut: 30000
  # es 请求超时时间
  connectionRequestTimeOut: 500
  # es 最大连接数
  maxConnectNum: 100
  # es 每个路由的最大连接数
  maxConnectNumPerRoute: 100

xfun:
  open:
    appid: e0c1f212
    apiSecret: N2NkMjg4M2JlMzBhYTg2MDMyNTllNzlh
    hostUrl: https://spark-api.xf-yun.com/v2.1/chat
    apiKey: 3554aa0a17812c93448c245fb9a6228d

ok:
  http:
    connect-timeout: 60
    read-timeout: 60
    write-timeout: 60
    # 连接池中整体的空闲连接的最大数量
    max-idle-connections: 200
    # 连接空闲时间最多为 300 秒
    keep-alive-duration: 300


  #公众号
  oauth2:
    wechat:
      app-id: wx4852d02a5d3e7665
      app-secret: 5e65332663c4def2d0fa803c1faebd5c
      access-token-url: https://api.weixin.qq.com/cgi-bin/token
      gzh-qrcode-create-url: https://api.weixin.qq.com/cgi-bin/qrcode/create
      gzh-qrcode-url: https://mp.weixin.qq.com/cgi-bin/showqrcod